<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/theme.css" type="text/css"> </head>

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-secondary my-0" >
    <div class="container">
        <a class="navbar-brand" href="#">
            <b >SoFM</b>
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSecondarySupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center justify-content-end" id="navbarSecondarySupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item mx-2">
                    <form class="form-inline" id="search-normal-form">
                        <div class="input-group">
                            <input type="text" class="form-control" id="serach-normal-input" placeholder="球员名" name="pName">
                            <div class="input-group-append">
                                <!--只有当这个按钮的type是button的时候才可以调用modal-->
                                <button class="btn btn-primary" id="search-normal-button" type="button">搜索</button>
                            </div>
                        </div>
                    </form>
                </li>

                <li class="nav-item mx-2">
                    <a class="nav-link" href="#">
                        <i class="fa d-inline fa-lg fa-bookmark-o"></i>
                    </a>
                </li>

            </ul>
            <a class="btn navbar-btn ml-2 text-white btn-primary" href="#">
                <i class="fa d-inline fa-lg fa-user-circle-o ml-1"></i>&nbsp;</a>
        </div>
    </div>
</nav>
<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="col-12">
                    <h4>进阶搜索</h4>
                </div>
                <form class="">
                    <!--<div class="form-group">-->
                        <!--<label>Email address</label>-->
                        <!--<input type="email" class="form-control" placeholder="Enter email">-->
                        <!--<small class="form-text text-muted">We'll never share your email with anyone else.</small>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label>Password</label>-->
                        <!--<input type="password" class="form-control" placeholder="Password">-->
                    <!--</div>-->
                    <div class="form-group">
                        <label>年龄</label>
                        <input type="number" class="form-control" placeholder="年龄">
                    </div>
                    <div class="form-group">
                        <label>当前能力（大于）</label>
                        <input type="number" class="form-control" placeholder="当前能力">
                    </div>
                    <div class="form-group">
                        <label>潜在能力</label>
                        <input type="number" class="form-control" placeholder="潜在能力">
                    </div>
                    <button type="submit" class="btn btn-primary">搜索</button>
                </form>
            </div>
            <div class="col-md-8">
                <div class="col-12">
                    <h4>Hot Player</h4>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>CA</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>Mark</td>
                        <td>Otto</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Jacob</td>
                        <td>Thornton</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Larry</td>
                        <td>the Bird</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Larry</td>
                        <td>the Bird</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Larry</td>
                        <td>the Bird</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Larry</td>
                        <td>the Bird</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>



    </div>
</div>

<div class="modal" id="search-result-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>×</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table" >
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>CA/th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>Mark</td>
                        <td>170</td>
                    </tr>

                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="/js/jquery.min.js" ></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="/js/player.js"></script>
<!--<pingendo onclick="window.open('https://pingendo.com/', '_blank')" style="cursor:pointer;position: fixed;bottom: 10px;right:10px;padding:4px;background-color: #00b0eb;border-radius: 8px; width:250px;display:flex;flex-direction:row;align-items:center;justify-content:center;font-size:14px;color:white">Made with Pingendo Free&nbsp;&nbsp;-->
    <!--<img src="https://pingendo.com/site-assets/Pingendo_logo_big.png" class="d-block" alt="Pingendo logo" height="16">-->
<!--</pingendo>-->
</body>

</html>